@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');


#nbr, #nbr2{
  font-family: 'Old Standard TT', serif;
  color: #4A86E8;
  font-size: 60px;
  width: 100%;
  text-align: center;
}

.card_title{
  font-family: sans-serif;
  color: black;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.card_custom{
  height: 200px;
  width: 300px;
  background-color: aliceblue;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center{
  margin: 0 auto;
}

