<div class="d-flex  container justify-content-center">
  <div class="card col-md-5 mt-3">
    <div class="card-header">
      New Customer
    </div>
    <div class="card-body">
      <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
          <label class="form-label">Name: </label>
          <input type="text" class="form-control" formControlName="name">
          <span class="text-danger" *ngIf="newCustomerFormGroup.controls['name'].touched &&
                      newCustomerFormGroup.controls['name'].errors &&
                      newCustomerFormGroup.controls['name'].errors!['required']">
            Name is required !
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email: </label>
          <input type="text" class="form-control" formControlName="email">
          <span class="text-danger" *ngIf="newCustomerFormGroup.controls['email'].touched &&
                      newCustomerFormGroup.controls['email'].errors &&
                      newCustomerFormGroup.controls['email'].errors!['email']">
            Email is not valid !
          </span>
        </div>
        <button [disabled]="newCustomerFormGroup.invalid"  type="submit" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</div>
