<!--&lt;!&ndash; Pour USER &ndash;&gt;
               <input id="user"  type="checkbox" [checked]="userHasRole('USER')" value="USER">
               <label for="user">USER</label>
               &lt;!&ndash; Pour ADMIN &ndash;&gt;
               <input id="admin"  type="checkbox" [checked]="userHasRole('ADMIN')" value="ADMIN">
               <label for="admin">ADMIN</label>-->


<div class="container">
    <div class="card">
        <div class="card-header">Manange Roles</div>
        <div class="card-body">
            <h4>{{this.user.username}}</h4>
            <hr/>

            <table class="table">
                <thead><th>USER</th><th>ADMIN</th></thead>
                <tbody>
                <tr>
                    <td><button class="btn btn-success" (click)="AddRoleUser()">Add This Role</button></td>
                    <td><button class="btn btn-success" (click)="AddRoleAdmin()">Add This Role</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-danger" (click)="removeRoleUser()">Remove This Role</button></td>
                    <td><button class="btn btn-danger" (click)="removeRoleAdmin()">Remove This Role</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
