<!--&lt;!&ndash; Pour USER &ndash;&gt;
               <input id="user"  type="checkbox" [checked]="userHasRole('USER')" value="USER">
               <label for="user">USER</label>
               &lt;!&ndash; Pour ADMIN &ndash;&gt;
               <input id="admin"  type="checkbox" [checked]="userHasRole('ADMIN')" value="ADMIN">
               <label for="admin">ADMIN</label>-->


<div class="container">
    <div class="card mt-5">
        <div class="card-header">Manage Roles for :</div>
        <div class="card-body">
            <h4 class="text-center h3 fw-bold">{{this.user.username}}</h4>
            <hr/>

            <table class="table">
                <thead>
                <tr>
                  <th class="text-center h5">USER</th>
                  <th class="text-center h5">ADMIN</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"><button class="badge text-bg-success w-25" (click)="AddRoleUser()">Add This Role</button></td>
                    <td class="text-center"><button class="badge text-bg-success w-25" (click)="AddRoleAdmin()">Add This Role</button></td>
                </tr>
                <tr>
                    <td class="text-center"><button class="badge text-bg-danger w-25" (click)="removeRoleUser()">Remove This Role</button></td>
                    <td class="text-center" ><button class="badge text-bg-danger w-25" (click)="removeRoleAdmin()">Remove This Role</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
